 <head>
   <body>
     <h1 align='center' style="font-size:50px;">TinyApp</h1>
     <% if (!users) { %>
     <form action="/login">
     <button type="submit">Login</button>
     </form>
     <form action="/register">
     <button type="submit">Register</button>
     </form>
     <% } if (users) { %>
     <p><%= users.email %></p>
     <form method ='POST' action='/logout'>
       <button type='submit'> Logout </button>
     <% } %>
  </form>

   </body>
 </head>



