<div style="margin-left:460px;">
 <h1> TinyApp </h1>
</div>
 <div style="margin-left:400px;">
  <h2>URL CONDENSER</h2>
 </div>
  <% if (loginAccount == undefined) { %>
   <form method="GET" action="/login" />
    <input type="submit" value="login">
   </form>
    <% } else { %>
     <p><%= loginAccount %></p>
      <form method="POST" action="/logout">
       <input type="submit" value="logout"/>
      </form>
     <% } %>
      <tr>
       <td colspan="2">
        <a href = "/register">Create New Account</a>
       </td>
      </tr>