<!DOCTYPE html>
<html lan="en">
 <head>
 </head>
  <body>
   <form method="POST" action="/login" />
    <input id="email" type="email" name="email" placeholder="username/email">
     <input id="password" type="password" name="password" placeholder="what's the password?">
      <input type="submit" value="login">
   </form>
  </body>
 </html>
