<!DOCTYPE html>
<html lang="en">
   <head>
    </head>
      <body>
        <form method="POST" action="/register">
         <p>
          <label>E-mail</label>
           <input type="email" name="naming" />
         </p>
           <p>
           <label>Password</label>
            <input type="password" name="password" />
          </p>
          <p>
           <input type="submit" name="register" value="Create Account"/>
          </p>
      </form>
      </body>
</html>