 <!DOCTYPE html>
 <html lang="en">
   <head></head>
   <body bgcolor="#BBB9B9" style="font-size:30px; padding:30px;">
     <h1 align='center'> REGISTER </h1>
     <form action="/register" method="POST" style="margin:200px;">
       <div class="wrapper" align="center" >
       <label> Email: </label>
       <input id='email' type="email" name="email" placeholder="email" />
       <label> Password: </label>
       <input id='password' type="password" name="password" placeholder="password" />
       <input type='submit' value='Register' />
     </div>
     </form>
   </body>
 </html>