<!DOCTYPE html>
 <html lang="en">
 <head>
   <title>TinyApp</title>
 </head>
 <body bgcolor="#BBB9B9">
   <header>
       <% include ./partials/_header %>
   </header>
     <table align="center" cellspacing="20">
       <thead>
         <tr>
           <td align="center" colSpan='2'>
            <h3> <a href='/urls/new'>TinyApp a URL</a> </h3>
           </td>
         </tr>
         <tr>
           <th>Full URL</th>
           <th>Short URL</th>
           <th</th>
         </tr>
       </thead>
       <tbody>
         <% for (shortURL in urls) { %>
         <tr>
         <td><%= urls[shortURL].url %></td>
           <td><%= shortURL %></td>
           <td>
             <form method="GET" action="/urls/<%= shortURL %>/">
             <input type="submit" value="Edit"/>
           </form>
           </td>
           <td>
             <form method ='POST' action='/urls/<%= shortURL %>/delete'>
               <input type='submit' value='Delete'/>
             </form>
           </td>
         </tr>
         <% } %>

     </table>
 </body>
 </html>